# Eclipse Workspace
.metadata/
RemoteSystemsTempFiles/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.classpath

# Compiled class file
*.class

# Log file
*.log

# Node.js
node_modules/
dist/
build/
npm-debug.log
yarn-error.log

# Spring Boot
target/
*.iml
.idea/
.vscode/
.bill-buddy-spring-boot-backend-main/bin/

